<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">
            {{ '::Menu:OrderedBooks' | abpLocalization }}
          </h5>
        </div>
        <div class="text-right col col-md-6"></div>
      </div>
    </div>
    <div class="card-body">
      <ngx-datatable [rows]="book.items" [count]="book.totalCount" [list]="list" default>

        <ngx-datatable-column [name]="'::Actions' | abpLocalization" prop="requestFrom">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button class="btn btn-primary btn-sm dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    ngbDropdownToggle>
              <i class="fa fa-cog mr-1"></i>{{ '::ActionsSelect' | abpLocalization }}
            </button>

            <div ngbDropdownMenu>

              <button *abpPermission="'BookStore.Orders.Delete'"
                      ngbDropdownItem
                      (click)="delete(row.id)">
                {{ 'AbpAccount::Delete' | abpLocalization }}
              </button>

                <button *abpPermission="'BookStore.Orders.ChangeStatus'"
                      ngbDropdownItem
                      (click)="updateStatus(row.id)">
                {{ 'AbpAccount::Change status' | abpLocalization }}
              </button>

            </div>

          </div>
        </ng-template></ngx-datatable-column>


        <ngx-datatable-column [name]="'::Request from' | abpLocalization" prop="requestFrom">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.clientName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Book Name' | abpLocalization" prop="book">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.bookName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Confirm' | abpLocalization" >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p *ngIf="row.status" style="color:#6ec716; font-weight: 500;"  >
              Order confirmed
            </p>
            <p *ngIf="!row.status" style="color:#edbc0c; font-weight: 500;">
              Waiting confirm
            </p>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>